* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #000;
}

canvas {
    background: #000;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.controller {
    z-index: 10;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 16px;

    border-radius: 10px;

    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
}

label[for="line"] {
    margin-right: 8px;
    font-weight: bold;
}
